---
title: J1149 - Devs
layout: default
bodyClass: page-services-list
---


<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Join our Decentralized Remote Team</h1>
        <p>
          On different sides of the globe, working together to 
          scale out one of the most innovation blockchain applications. 
          Together, we can build something beautiful.
        </p>
      </div>
    </div>
  </div>
</div>


      <div class="container pt-5 pb-5 pt-md-7 pb-md-7">
            <div class="row justify-content-center">
              <div class="col-12">
                <h2 class="title-3 text-dark mb-4"><!-- titles for when there's more to add--></h2>
              </div>
              {% for reference in site.data.references %}
              <div class="col-12 col-md-6 col-lg-4 mb-2">
                  <a href="{{ reference.link }}">
                <div class="feature">
                  {% if reference.image %}<div class="feature-image"><img alt="{{ reference.title }} logo" src="{{ reference.image }}" /></div> {% endif %}
                  <h2 class="feature-title">{{ reference.title }}</h2>
                  <div class="feature-content">{{ reference.description }}</div>
                </div>
            </a>
              </div>
              {% endfor %}
            </div>
          </div>